.container{
    width: 600px;
    padding: 10px;
    margin: 0 auto;
    border-style: inset;
    border-radius: 5px;
    border-width: 2px;
    border-color: grey;
    background-color: rgb(250, 240, 253);
}

label{
    color: gray;
    font-size: 14px;
}

input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 600px;
    font-size: 14px;
}

.errors{
    color: red;
    padding-top: 5px;
    font-size: 12px;
}

.input_field{
    width: inherit;
}

.save_btn{
    text-align: right;
    padding: 10px;
}

.submit_btn{
    background-color: rgb(242, 209, 252);
    border: outset;
    border-width: 1px;
    font-size: 18px;
    padding: 5px 5px;
}