<div class="container">
  <h2>
    To do:
  </h2>

  <div>
    <todo-item *ngFor="let todo of toDos" [toDo]="todo" (removeItem)="removeItem($event)"
    (completeItem)="completeItem($event)"></todo-item>
  </div>
  
  <div style="margin: 30px;"></div>

  <form #form="ngForm">
    <label>What do you need to do?</label>
    <div class="input_field">
      <input name="inputToDo" [(ngModel)]="inputToDo">
    </div>
    <div class="errors">
      {{errors}}
    </div>
    <div class="save_btn">
      <button class="submit_btn" (click)="addToDo(inputToDo, form)">Save Item</button>
    </div>
  </form>
</div>