<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">

  <div class="col-80 container" [ngClass]="{linethrough: toDo.status}">
    {{toDo.name}}
  </div>

  <div class="col-10">
    <button class="btn" [ngClass]='{red: !toDo.status, green: toDo.status}' (click)="completedToDo()">
    <i class="fa fa-check"></i>
    </button>
  </div>
  
  <div class="col-10">
    <button class="btn" (click)="removeToDo()">
      <i class="fa fa-trash"></i>
    </button>
  </div>

</div>  