.container{
    border-style: inset;
    border-width: 1px;
    border-radius: 3px;
    border-color:gray;
    background-color: white;
    padding: 5px;
    font-size: 18px;
}

.col-80 {
    float: left;
    width: 80%;
    box-sizing: border-box;
}

.col-10 {
    text-align: center;
    float: left;
    width: 10%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.red {
    color: red; 
}

.green {
    color: green;
}

.linethrough{
    text-decoration-line: line-through;
}

.nolinethrough{
    text-decoration-line: none; 
}

.row {
    margin: 10px auto;
}

.btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
}